<h2> You  to {{comment.reader}} </h2>
    <h4>What do you think of me?</h4>
    <p>{{comment.Q1}}</p>
    <h4>How much do you like me?</h4>
    <p>{{comment.Q2}}</p>

<a href="/comment/{{comment.reader}}/edit/{{comment.id}}">Edit</a>