<h1>{{details.name}}</h1>
<h2>{{details.hostel}}</h2>
<h2>{{details.dept}}</h2>

<p>
    <a id="Friends"></a>
</p>

<p>{{#if details.user}}
        <h3>Comments Written</h3>
        <section class="commnt">
            <ul>
                {{#each written_comments }}
                    <a href="/comment/{{this.reader}}/view/{{this.id}}">
                        <li>{{ this.reader }}</li>
                    </a>
                {{/each}}
            </ul>
        </section>
    {{/if}}</p>


<p>{{#if details.user }}
        <h3>Comments Received</h3>
        <section class="commnt">
            <ul>
                {{#each received_comments }}
                    <a href="/comment/{{this.reader}}/view/{{this.id}}">
                        <li>{{ this.writer }}</li>
                    </a>
                {{/each}}
            </ul>
        </section>
    {{else}}
        {{#if written}}
                <h3>Comments Received</h3>
                <a href="/comment/{{written.reader}}/view/{{written.id}}">
                    <li>You</li>
                </a>
                
        {{else}}
            <a href="/comment/{{details.uid}}/new">
                <h3>Write a Comment</h3>
            </a>
        {{/if}}
    {{/if}}</p>

<script src="/javascripts/friends.js"></script>